%h1 placecolour
%p An homage to Russell Heimlich(@kingkool68), dummyimage.com, placehold.it, placekitten and colourlovers

%p much code from http://dummyimage.com/ and https://github.com/xxx/fakeimage
%h3 License
%p released under the MIT license 
